* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  max-width: 1200px;
  background-color: rgb(7, 7, 7, 7);
  margin: 0 auto;
  height: 100vh;
  display: flex;
  /* justify-content: flex-start; 
  justify-content: flex-end; 
  justify-content: center; 
  justify-content: space-between;
 */
  flex-wrap: wrap;
  align-items: flex-start;
}
.box__contenedor {
  margin: 20px 20px;
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  text-align: center;
  border: 1px solid violet;
}
.box__contenedor:nth-child(3) {
  background-color: aqua;
  order: 0;
}

@media (max-width: 800px) {
  .box {
    background-color: aqua;
  }
}

.box1 {
  display: flex;
  justify-content: flex-start;
}
.item {
  display: contents;
  margin: 20px 20px;
  width: 200px;
  height: 200px;
  background-color: antiquewhite;
}
